<section class="section best">
    <div class="container">
        <div class="best_title">
            мы лучшие
        </div>
        <div class="best_content">
            <div class="best_item">
                <img src="../img/icons/meat.svg" alt="meat">
                <h4>100% свежее мясо</h4>
                <p>Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.</p>
            </div>
            <div class="best_item">
                <img src="../img/icons/hand.svg" alt="meat">
                <h4>Ручная сборка</h4>
                <p>Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Первое полустишие притягивает сюжетный реформаторский
                пафос.</p>
            </div>
            <div class="best_item">
                <img src="../img/icons/natural.svg" alt="meat">
                <h4>Натуральные ингредиенты</h4>
                <p>Драма представляет собой деструктивный цикл. Анапест представляет собой анапест.</p>
            </div>
        </div>
    </div>
</section>