<footer class="section footer map">
    <div class="footer_info">
        <div class="footer_info_contact">
             Санкт-Петербург, ул.Бабушкина, д.12/1, 15 <br> <img src="../img/icons/phone.svg" alt=""><span> +7 (812) 377-13-77</span>
        </div>
        <ul class="footer_social">
            <li class="footer_social_item">
                <a href="#" class="footer_social_link">
                    <svg class="footer_social_icon">
                        <use xlink:href="../img/sprite/sprite.svg#vk"></use>
                    </svg>
                </a>
            </li>
            <li class="footer_social_item">
                <a href="#" class="footer_social_link">
                    <svg class="footer_social_icon">
                        <use xlink:href="../img/sprite/sprite.svg#fb"></use>
                    </svg>
                </a>
            </li>
            <li class="footer_social_item">
                <a href="#" class="footer_social_link">
                    <svg class="footer_social_icon">
                        <use xlink:href="../img/sprite/sprite.svg#inst"></use>
                    </svg>
                </a>
            </li>
            <li class="footer_social_item">
                <a href="#" class="footer_social_link">
                    <svg class="footer_social_icon">
                        <use xlink:href="../img/sprite/sprite.svg#twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>