<section class="section hero">
    <div class="container">
        <header>
            <div class="logo">
                <img src="img/icons/logo.svg" alt="logo">
            </div>
            <nav class="nav">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="#">о нас</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">бургеры</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">команда</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">меню</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">отзывы</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">контакты</a>
                    </li>
                </ul>
            </nav>
            <button class="button">
                Заказать
            </button>
        </header>
        <div class="hero_content">
            <div class="hero_content__left">
                <img src="img/elements/burger1stScreen.png" alt="Burger">
            </div>
            <div class="hero_content__right">
                <p><span>мы делаем</span> натуральные бургеры</p>
            </div>
        </div>
        <div class="next_page_button">
            <a href="#">
                <img src="img/icons/arrow-scroll.svg" alt="ArrowScroll">
            </a>
        </div>
    </div>
</section>