<section class="section menu">
    <div class="menu_container">
        <div class="menu_container_title">
            Меню
        </div>
        <div class="menu_acco">
            <div class="menu_acco_item menu_acco_item_active">
                <div class="menu_acco_item_title">
                    <h3>для мясоедов</h3>
                </div>
                <div class="menu_acco_item_text">
                    Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений.
                    Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм
                    сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр. Речевой
                    акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический
                    субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову.
                </div>
            </div>
            <div class="menu_acco_item">
                <div class="menu_acco_item_title">
                    <h3>вегетариансокое</h3>
                </div>
                <div class="menu_acco_item_text">
                    Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений.
                    Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм
                    сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр.
                    Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений.
                    Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову.
                </div>
            </div>
            <div class="menu_acco_item">
                <div class="menu_acco_item_title" style="background: url(../img/elements/diet.png)">
                    <h3>диетическое</h3>
                </div>
                <div class="menu_acco_item_text">
                    Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений.
                    Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм
                    сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр.
                    Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений.
                    Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову.
                </div>
            </div>
        </div>
    </div>
</section>