<section class="section order">
    <div class="order_title">
        закажите доставку
    </div>
    <div class="order_content">
        <div class="order_content_left">
            <div class="order_name_phone">
                <label for="user-name">
                    <div class="order_form_label">
                        Имя
                    </div>
                    <input type="text" id="user-name" class="order_form-1st">
                </label>
                <label for="user-phone" class="user_phone">
                    <div class="order_form_label">
                        Телефон
                    </div>
                    <input type="text" id="user-phone" class="order_form-1st">
                </label>
            </div>
            <div class="order_street">
                <label for="user-street">
                    <div class="order_form_label">
                        Улица
                    </div>
                    <input type="text" id="user-street" class="order_form-street">
                </label>
            </div>
            <div class="order_address">
                <label for="user-home">
                    <div class="order_form_label">
                        дом
                    </div>
                    <input type="text" id="user-home" class="order_form-address">
                </label>
                <label for="user-housing" class="order_form_add">
                    <div class="order_form_label">
                        корпус
                    </div>
                    <input type="text" id="user-housing" class="order_form-address">
                </label>
                <label for="user-apartment" class="order_form_add">
                    <div class="order_form_label">
                        квартира
                    </div>
                    <input type="text" id="user-apartment" class="order_form-address">
                </label>
                <label for="user-floor" class="order_form_add">
                    <div class="order_form_label">
                        этаж
                    </div>
                    <input type="text" id="user-floor" class="order_form-address">
                </label>
            </div>
        </div>
        <div class="order_content_right">
            <div class="order_comment">
                <label for="order-comment">
                    <div class="order_form_label">
                        Комментарий
                    </div>
                    <textarea name="user-comment" id="user-comment" class="order_form-input_textarea"></textarea>
                </label>
            </div>
            <div class="order_payment">
                <label for="user-payment_change" class="order_radio">
                    <input class="order__radio-elem" type="radio" name="order_payment_radio" id="user-payment_change">
                    <div class="order_radio-fake"></div>
                    <div class="order_payment_title">Потребуется сдача</div>
                </label>
                <label for="user-payment_card" class="order_radio">
                    <input class="order__radio-elem" type="radio" name="order_payment_radio" id="user-payment_card">
                    <div class="order_radio-fake"></div>
                    <div class="order_payment_title">Оплата по карте</div>
                </label>
            </div>
            <div class="order_phone_callback">
                <label for="user-callback" class="order_checkbox">
                    <input type="checkbox" name="user-callback" id="user-callback">
                    <div class="order_radio-fake"></div>
                    <div class="order_payment_title">Не перезванивать</div>
                </label>
            </div>
            <div class="order_form_bttons">
                <button type="submit" class="button order_btn">заказать</button>
                <button type="reset" class="button_reset">очистить</button>
            </div>
        </div>
    </div>
</section>