<section class="section reviews">
    <div class="reviews_item" style="background: url(../../img/photos/photo1.png) center center no-repeat; background-size: cover">
        <div class="reviews_item_content">
            <div class="reviews_item_content_title">
                Константин Спилбер
            </div>
            <div class="reviews_item_content_text">
                 Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими
                мягкими, котлетка такой сочной, а сыр таким расплавленным.
            </div>
            <button class="button reviews_btn">
                Подробнее
            </button>
        </div>
    </div>
    <div class="reviews_item" style="background: url(../../img/photos/photo2.png) center center no-repeat; background-size: cover">
        <div class="reviews_item_content">
            <div class="reviews_item_content_title">
                Константин Спилбер
            </div>
            <div class="reviews_item_content_text">
                Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими
                мягкими, котлетка такой сочной, а сыр таким расплавленным.
            </div>
            <button class="button reviews_btn">
                Подробнее
            </button>
        </div>
    </div>
    <div class="reviews_item" style="background: url(../../img/photos/photo3.png) center center no-repeat; background-size: cover">
        <div class="reviews_item_content">
            <div class="reviews_item_content_title">
                Константин Спилбер
            </div>
            <div class="reviews_item_content_text">
                Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими
                мягкими, котлетка такой сочной, а сыр таким расплавленным.
            </div>
            <button class="button reviews_btn">
                Подробнее
            </button>
        </div>
    </div>
    <div class="reviews_item" style="background: url(../../img/photos/photo4.png) center center no-repeat; background-size: cover">
        <div class="reviews_item_content">
            <div class="reviews_item_content_title">
                Константин Спилбер
            </div>
            <div class="reviews_item_content_text">
                Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими
                мягкими, котлетка такой сочной, а сыр таким расплавленным.
            </div>
            <button class="button reviews_btn">
                Подробнее
            </button>
        </div>
    </div>
    <div class="reviews_item" style="background: url(../../img/photos/photo5.png) center center no-repeat; background-size: cover">
        <div class="reviews_item_content">
            <div class="reviews_item_content_title">
                Константин Спилбер
            </div>
            <div class="reviews_item_content_text">
                Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими
                мягкими, котлетка такой сочной, а сыр таким расплавленным.
            </div>
            <button class="button reviews_btn">
                Подробнее
            </button>
        </div>
    </div>
    <div class="reviews_item" style="background: url(../../img/photos/photo6.png) center center no-repeat; background-size: cover">
        <div class="reviews_item_content">
            <div class="reviews_item_content_title">
                Константин Спилбер
            </div>
            <div class="reviews_item_content_text">
                Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими
                мягкими, котлетка такой сочной, а сыр таким расплавленным.
            </div>
            <button class="button reviews_btn">
                Подробнее
            </button>
        </div>
    </div>
    <div class="reviews_item" style="background: url(../../img/photos/photo7.png) center center no-repeat; background-size: cover">
        <div class="reviews_item_content">
            <div class="reviews_item_content_title">
                Константин Спилбер
            </div>
            <div class="reviews_item_content_text">
                Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими
                мягкими, котлетка такой сочной, а сыр таким расплавленным.
            </div>
            <button class="button reviews_btn">
                Подробнее
            </button>
        </div>
    </div>
    <div class="reviews_item" style="background: url(../../img/photos/photo8.png) center center no-repeat; background-size: cover">
        <div class="reviews_item_content">
            <div class="reviews_item_content_title">
                Константин Спилбер
            </div>
            <div class="reviews_item_content_text">
                Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими
                мягкими, котлетка такой сочной, а сыр таким расплавленным.
            </div>
            <button class="button reviews_btn">
                Подробнее
            </button>
        </div>
    </div>
</section>