<ul class="scroll_nav">
    <li class="scroll_nav__item active">
        <a class="scroll_nav_link" href="#"></a>
    </li>
    <li class="scroll_nav__item">
        <a class="scroll_nav_link" href="#"></a>
    </li>
    <li class="scroll_nav__item">
        <a class="scroll_nav_link" href="#"></a>
    </li>
    <li class="scroll_nav__item">
        <a class="scroll_nav_link" href="#"></a>
    </li>
    <li class="scroll_nav__item">
        <a class="scroll_nav_link" href="#"></a>
    </li>
    <li class="scroll_nav__item">
        <a class="scroll_nav_link" href="#"></a>
    </li>
    <li class="scroll_nav__item">
        <a class="scroll_nav_link" href="#"></a>
    </li>
    <li class="scroll_nav__item">
        <a class="scroll_nav_link" href="#"></a>
    </li>
</ul>