<section class="section team">
        <div class="team_container">
            <div class="team_content">
                <div class="team_content_title">
                    Команда
                </div>
                <div class="team_acco">
                    <div class="team_acco_item">
                        <a href="#">Дэниэл Редклиф</a>
                        <div class="team_acco_item_content">
                            <img src="../img/elements/teamFace.png" alt="photo">
                            <div class="team_acco_item_content_text">
                                <h6>Оператор</h6>
                                <p>С радостью поможет подобрать идеальный бургер и оформить заказ.</p>
                            </div>
                        </div>
                    </div>
                    <div class="team_acco_item team_acco_item_active">
                        <a href="#">Ричард Джеймс</a>
                        <div class="team_acco_item_content">
                            <img src="../img/elements/teamFace.png" alt="photo">
                            <div class="team_acco_item_content_text">
                                <h6>Оператор</h6>
                                <p>С радостью поможет подобрать идеальный бургер и оформить заказ.</p>
                            </div>
                        </div>
                    </div>
                    <div class="team_acco_item">
                        <a href="#">Джейк Финн</a>
                        <div class="team_acco_item_content">
                            <img src="../img/elements/teamFace.png" alt="photo">
                            <div class="team_acco_item_content_text">
                                <h6>Оператор</h6>
                                <p>С радостью поможет подобрать идеальный бургер и оформить заказ.</p>
                            </div>
                        </div>
                    </div>
                    <div class="team_acco_item">
                        <a href="#">Николай Иванов</a>
                        <div class="team_acco_item_content">
                            <img src="../img/elements/teamFace.png" alt="photo">
                            <div class="team_acco_item_content_text">
                                <h6>Оператор</h6>
                                <p>С радостью поможет подобрать идеальный бургер и оформить заказ.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>