.menu
    background: url(../../img/background/menu-bg.png) center center no-repeat
    background-size: cover
    height: 100vh

.menu_container
    height: 100%
    position: relative

.menu_container_title
    font-family: $gregular
    font-size: 72px
    color: #ffffff
    padding: 82px 0 0 100px

.menu_acco
    display: flex
    position: absolute
    top: 0
    bottom: 0
    right: 0

.menu_acco_item
    display: flex
    &:hover 
        cursor: pointer

.menu_acco_item_title
    display: flex
    align-items: flex-end
    width: 80px
    h3 
        margin: 0
        font-family: $gregular
        font-size: 40px
        color: #ffffff
        transform: rotate(-90deg)
        transform-origin: 0 0
        white-space: nowrap
    &:first-child
        background: url(../img/elements/meateat.png) center center no-repeat
        background-size: cover
    &:nth-child(1)
        background: url(../img/elements/vega.png) center center no-repeat
        background-size: cover

    

.menu_acco_item_text
    width: 0 
    overflow: hidden

.menu_acco_item_active
    h3 
        color: #f9b43b
    .menu_acco_item_text
        width: 463px
        background: #2f3132
        opacity: 0.93
        padding: 55px 36px 0 20px
        font-family: $light
        font-size: 14px
        color: #ffffff
        line-height: 24px